.contact {
  margin-top: 3rem;
  text-align: center;
}

.contact > .container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.us__section > p {
  text-align: justify;
}

.social__section > .container {
  display: flex;
  justify-content: center;
}

.info__section > .container {
  display: flex;
  justify-content: center;
}

.social-icon {
  width: 40px;
}

.info__section > p {
  font-weight: bold;
}

@media screen and (min-width: 0) {
}

@media screen and (max-width: 768px) {
}

@media screen and (min-width: 992px) {
  .contact > .container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .contact > .container > article {
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
}
